.auth {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 16px 32px 12px rgba(#585C5F, .1);
    width: 460px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    &-header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h2 {
            font-size: 2.2rem;
            font-weight: 600;
        }
        p {
            font-size: 1.6rem;
            color: color.$text-color-secondary
        }

        &::after {
            content: '';
            position: absolute;
            top: calc(100% + 30px); left: 10%;
            width: 80%; height: 1px;
            background-color: #E2E4E9aa;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        &-row {
            position: relative;
            
            display: flex;
            flex-direction: column-reverse;
            gap: 5px;

            label {
                font-weight: 500;
            }
            input {
                padding-left: 40px;
            }

            input:required + label::after {
                content: ' *';
                color: color.$primary;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 11px; left: 10px;
                width: 20px; height: 20px;
            }

            &:has(input[type=checkbox]) {
                flex-direction: row;
            }

            &.icon-user::after {
                background-image: url(/user.svg);
            }
            &.icon-email::after {
                background-image: url(/mail.svg);
            }
            &.icon-password::after {
                background-image: url(/password.svg);
            }
        }
    }
}